html, body {
    margin: 0;
    padding: 0;
    background: #C6C6C6;;
}

.container {
    border: 1px solid #C6C6C6;
    margin: 2em auto;
    font-family: 'Source Sans 3', sans-serif; 
    color: #000;
    background: #FFF;
    font-size: 0.8125em; /* 13px */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header,
.post-header {
    display: flex;
    flex-direction: row;
}

.container,
.header,
.post,
.post-portrait {
    width: 100%;
    box-sizing: border-box;
}

/* ----- start menu section ----- */
.start-menu {
    text-align: center;
    margin: 2.5em 0em;
    font-weight: 700; 
}

.start-menu p {
    padding: 0 1em;
}

.menu-loader {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 8em 10em 6em 10em;
  border: 5px solid rgba(255,255,255,.3);
  border-radius: 50%;
  border-top-color: lightskyblue;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}  

.avatar-choice {
    width: 15%;
    border-radius: 50px;
    margin: 1em 1em;
}

.avatar-choice:hover {
    outline: 2px solid lightskyblue;
}


/* ----- header section ----- */
.header {
     border-bottom: 1px solid #C6C6C6;
     background: #FFF;
     padding: 0.5em;
     margin: 0 0 1.5em 0;
}

.header-img {
    width: 25%;
    margin: 0 16em 0 1em;
}

.header-icon {
    width: 9%;
    margin: 1.1em 1em 0.9em auto;
}


/* ----- posts section ----- */
.post-header {
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
}

.post-icon {
    width: 9%;
    border-radius: 50px;
    padding: 0.5em 0.5em 0.7em;
    margin: 0.5em 0 0 1em;
}

.post-upper-text {
    margin: 0 0 0 1em;
    padding: 0.7em 0.1em 0.5em;
    font-size: 1rem;
}

.post-interaction {
    width: 8%;
    margin: 0em 1em 0em 0em;
}

.post-footer {
    border-bottom: 1.5em solid #EDEDED;
    margin-bottom: 1em;
    padding: 1em;
    font-size: 1rem;
}

.post-footer p {
    margin: 0.7em 0 0.3em 0;
}

.bolded { 
    font-weight: 700; 
}


/* ----- smaller screen displays ----- */
@media (min-width: 350px) 
{
    .start-menu,
    .post-upper-text,
    .post-footer {
        font-size: 1rem;
    }
}

@media (min-width: 650px) 
{
    .container {
        width: 80%;
    }

    .start-menu,
    .post-upper-text,
    .post-footer {
        font-size: 1.1rem;
    }
}

@media (min-width: 950px) 
{
    .container {
        width: 45%;
    }
}

@media (min-width: 1100px) 
{
    .container {
        width: 33%;
    }

    .post-upper-text,
    .post-footer {
        font-size: 1rem;
    }

    .avatar-choice {
        width: 17%;
    }
}